<section class="showcase">
    <div class="container">
      <h2 class="showcase__heading">What We do</h2>
      <div class="showcase__content">
        <article class="showcase__item">
          <i class="fas fa-university fa-2x icon"></i>
          <div>
            <h3>Investment Banking</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates, porro.
            </p>
          </div>
        </article>
        <article class="showcase__item">
          <i class="fas fa-book-reader fa-2x icon"></i>
          <div>
            <h3>Portfolio Managment</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates, porro.
            </p>
          </div>
        </article>
        <article class="showcase__item">
          <i class="fas fa-pen-alt fa-2x icon"></i>
          <div>
            <h3>Tax & Custodial</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates, porro.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>