<section class="hero">
  <header class="hero__content">
    <h1 class="hero__heading">
      <span class="out n1">The</span> <span class="n2">Sky</span>
      <span class="out n3">Is</span> <span class="out n4">The</span>
      <span class="n5">Limit</span>
    </h1>
    <p class="hero__tagline">We provide world class financial assistance</p>
    <hr class="line" />
    <a href="" class="btn btn--primary btn--small"
      ><i class="fa fa-chevron-right"></i> Read More</a
    >
  </header>
</section>