<section class="contact">
    <div class="container">
      <h2>Request Callback</h2>
      <div class="contact__content">
        <form class="contact__form">
          <div class="form-group">
            <input type="text" placeholder="Name" />
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" />
          </div>
          <div class="form-group">
            <input type="tel" placeholder="+962" />
          </div>
          <div class="form-group">
            <textarea
              name=""
              placeholder="Write your message"
              id=""
              cols="30"
              rows="10"
            ></textarea>
          </div>
          <button class="btn btn--stretched btn--secondary">Send</button>
        </form>
        <div id="map" class="contact__map">
         
        </div>
      </div>
    </div>
  </section>