<section class="blog">
    <div class="container">
      <div>
        <h2>Our Blog</h2>
        <div class="blog__content">
          <div class="blog__body">
            <h3>Blog post 1</h3>
            <p>By M.G</p>
            <p class="blog__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Officiis aut ullam, expedita ab veritatis pariatur odio atque
              harum aliquam, blanditiis asperiores exercitationem, dolorum
              nulla. Nulla nostrum assumenda laudantium provident ipsa.
            </p>
            <a href="" class="btn btn--primary btn--small"
              ><i class="fas fa-chevron-down"></i> Read More</a
            >
          </div>
          <div class="blog__img">
            <img src="images/blog/blog2.jpg" alt="" />
          </div>
        </div>
      </div>
     
    </div>
  </section>