<section class="features">
    <div class="container">
      <h2 class="feature__heading">What We Do</h2>
      <div class="feature__content">
        <img src="images/cases/cases1.jpg" alt="" />
        <img src="images/cases/cases2.jpg" alt="" />
        <img src="images/cases/cases3.jpg" alt="" />
      </div>
      <div class="feature__content">
        <img src="images/cases/cases4.jpg" alt="" />
        <img src="images/cases/cases5.jpg" alt="" />
      </div>
      <div class="feature__content">
        <img src="images/cases/cases6.jpg" alt="" />
        <img src="images/cases/cases7.jpg" alt="" />
        <img src="images/cases/cases8.jpg" alt="" />
      </div>
      <h3>Business Cases</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum tempore
        temporibus, odio ipsum similique quod dolorem, dignissimos iste
        veritatis &nbsp;impedit&nbsp;,fugit ex quasi consectetur expedita magnam
        accusantium odit harum? Qui.
      </p>
    </div>
  </section>